.header-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins), sans-serif;
  font-weight: bold;

  &__background,
  &__foreground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &__background {
    z-index: 1;
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    &--fixed {
      background-attachment: fixed;
    }
  }

  &__foreground {
    z-index: 2;
    object-fit: cover;
    pointer-events: none;
    top: 30vh;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  &__content {
    width: 50%;
    display: flex;
    padding-right: 150px;
    flex-direction: column;
    position: relative;
    gap: 24px;
    z-index: 4;
    text-align: left;
    margin-left: auto;
  }

  &__title {
    font-size: clamp(2.25rem, 4vw, 3.25rem);
    letter-spacing: -0.04em;
    line-height: 1.1;
    font-weight: 700;
  }

  &__description {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    line-height: 1.7;
    font-weight: 400;
  }

  &__content-mobile {
    display: none;
    width: 100%;
  }
}

@media (max-width: 1350px) {
  .header-section {
    &__content {
      padding-right: 100px;
    }

    &__foreground {
      top: 25vh;
    }
  }

}

@media (max-width: 1000px) {
  .header-section {
    min-height: 80vh;
    flex-direction: column;
    align-items: center;
    padding: clamp(3rem, 6vw, 5rem) 0;

    &__content {
      display: none;
    }

    &__background {
      background-position: center left;
      height: 100%;
    }

    &__foreground {
      top: 25vh;
    }
  }

  .header-section__content-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 1.5rem 4rem;
   
  }
}