.header-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins), sans-serif;
  font-weight: bold;
  color: #35404E;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/header-section-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-attachment: fixed;
    z-index: 1;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }

  &__content {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    z-index: 3;
    text-align: left;
    margin-left: auto;
  }

  &__title {
    font-size: 52px;
    letter-spacing: -1px;
    line-height: 56px;
    font-weight: bold;
    font-weight: 700;
  }

  &__description {
    font-size: 17px;
    line-height: 1.7em;
    font-weight: 400;
  }
}
