@use "../../styles/breakpoints" as bp;

.header-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins), sans-serif;
  font-weight: bold;

  &__background,
  &__foreground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  &__background {
    z-index: 1;
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;

    @media (max-width: 799px) {
      background-attachment: scroll;
    }
  }

  &__foreground {
    z-index: 2;
    object-fit: cover;
    pointer-events: none;
    top: 32vh;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    z-index: 3;
  }

  &__content {
    width: 50%;
    display: flex;
    padding-right: 150px;
    flex-direction: column;
    position: relative;
    gap: 24px;
    z-index: 4;
    text-align: left;
    margin-left: auto;
    background-color: var(--page-background);
  }

  &__title {
    font-size: 2.8rem;
    letter-spacing: -0.04em;
    line-height: 1.1;
    font-weight: 700;
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 400;
  }

  &__content-mobile {
    display: none;
    width: 100%;
  }
}

@media (max-width: bp.$breakpoint-lg) {
  .header-section {
    flex-direction: column;
    align-items: center;

    &__content {
      display: none;
      padding-right: 100px;

    }

    &__background {
      height: 100%;
      background-position: 0% center;
    }

    &__foreground {
      top: 0vh;
    }
  }

  .header-section__content-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -250px;
    z-index: 4;
    padding: 3rem 2.5rem 4rem;
    background-color: #FAF6FF;
   
  }
}

@media (max-width: bp.$breakpoint-sm) {
  .header-section {
    &__background {
      background-position: 10% center;
    }
  }
}