.button {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7C71B1;
    color: #fff;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}